<header class="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!-- 로고 왼쪽 -->
    <div class="logo-div">
        <img src="/images/logo.png" class="logo" onclick="location.href='/'"/>
    </div>

    <!-- 회원관리, 로그인 버튼 오른쪽 -->
    <div class="user-controls-div">
        <!--로그인을 안했을 경우-->
        <div sec:authorize="!isAuthenticated()">
            <button onclick="location.href='/auth/login'" class="headerBtn">로그인</button>
            <button onclick="location.href='/user/joinMembership'" class="headerBtn">회원가입</button>
        </div>
        <!--로그인을 했을 경우-->
        <div sec:authorize="isAuthenticated()">
            <!--  설명. 2024-09-27 오후 발표 끝난 후 주석 풀 예정 -->
<!--            <div sec:authorize="hasAnyAuthority('MASTER')">-->
<!--                <button onclick="location.href='/hospital/person/list'">회원관리</button>-->
<!--            </div>-->
<!--            <div sec:authorize="hasAnyAuthority('USER_PERSON')">-->
<!--                <a>개인회원</a>-->
<!--            </div>-->
<!--            <div sec:authorize="hasAnyAuthority('USER_HOSPITAL')">-->
<!--                <a>기업회원</a>-->
<!--            </div>-->
            <a sec:authorize="hasAnyAuthority('USER_PERSON')">[개인회원]</a>
            <a sec:authorize="hasAnyAuthority('USER_HOSPITAL')">[기업회원]</a>
            <label sec:authentication="">안녕하세요, [[${#authentication.name}]]님</label>
                <!--  설명. 2024-09-27 오후 발표 끝난 후 주석 풀 예정 -->
<!--            <button sec:authorize="hasAnyAuthority('MASTER')" class="headerBtn" id="memberBtn">회원관리</button>-->
            <button class="headerBtn" id="logoutBtn" onclick="location.href='/auth/logout'">로그아웃</button>
            <button class="headerBtn" id="myPageBtn" onclick="location.href='/myPage/myInfo'">마이페이지</button>
        </div>
</header>