<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>동물병원플러스입니다.</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">

</head>
<body>

    <div th:replace="common/header.html"></div>

    <div class="background">
        <!--배경이미지-->
        <img src="images/mainbackground.jpg" style="width:100%">

        <!--공지사항-->
        <div class="notice">
            <div>
                <h3><a href="/notice/list">[공지사항] </a><a id="noticeLink" href="/notice/detail/">공지사항 제목 자리</a></h3>
            </div>

        </div>

        <!--병원찾기 검색창-->
        <div class="search-hospital">
            <br>
            <button class="button" onclick="location.href='/hospital/sidoAll'">지역별 동물병원찾기</button>
            <button class="button" onclick="location.href='/reserve/regist'">백중윤 테스트 중</button>
            <br>
            <br>
            <form action="/search" method="GET">
                <input type="text" id="search" name="query" placeholder="지역 또는 병원이름을 직접 검색">
                <br>
                <br>
                <button type="submit">검색</button>
            </form>
            <br>
            <br>

        </div>

<!--    <script src="main.js"></script>-->
</body>
</html>