<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h3>회원 정보</h3>
<table>
  <tr>
    <th>개인회원명</th>
    <th>개인회원이메일</th>
    <th>개인회원전화번호</th>
  </tr>

    <tr th:each="myInfo : ${ myInfoList }">
    <td th:text="${ myInfo.name }"></td>
    <td th:text="${ myInfo.email }"></td>
    <td th:text="${ myInfo.phoneNumber }"></td>
  </tr>
</table>


<h3>즐겨찾기</h3>
<table>
  <tr>
    <th>병원사진</th>
    <th>병원명</th>
    <th>즐겨찾기이름</th>
  </tr>

  <tr th:each="myFavorite : ${ myFavoriteList }">
<!--    <td th:text="${ myFavorite.name }사진 넣을 거임"></td>-->
    <td th:text="${ myFavorite.personCode }"></td>
    <td th:text="${ myFavorite.favoriteName }"></td>
  </tr>
</table>

<br>
<button onclick="location.href='/'">메인으로</button>
</body>
</html>