<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h3>회원 정보</h3>
<table>
  <tr>
    <th>개인회원명</th>
    <th>개인회원이메일</th>
    <th>개인회원전화번호</th>
  </tr>

    <tr th:each="myInfo : ${ myInfoList }">
    <td th:text="${ myInfo.name }"></td>
    <td th:text="${ myInfo.email }"></td>
    <td th:text="${ myInfo.phoneNumber }"></td>
  </tr>
</table>

<h3>즐겨찾기</h3>
<table>
  <tr>
    <th>병원사진</th>
    <th>병원명</th>
    <th>삭제</th>
  </tr>

  <tr th:each="myFavorite : ${ myFavoriteList }">
    <td>사진링크</td>
    <td th:text="${ myFavorite.favoriteName }"></td>
    <td>
    <form th:action="@{/myPage/delete/{name}(name=${myFavorite.favoriteName})}" method="post">
        <button type="submit">삭제하기</button>
    </form>
    </td>
  </tr>
</table>

<h3>반려동물정보</h3>
<table>
    <tr>
      <th>프로필</th>
      <th>이름</th>
      <th>종</th>
      <th>성별</th>
      <th>생년월일</th>
      <th>예방접종여부</th>
      <th>내장칩여부</th>
    </tr>

    <tr th:each="myPet : ${ myPetList }">
      <td th:text="${ myPet.petProfile }"></td>
      <td th:text="${ myPet.petName }"></td>
      <td th:text="${ myPet.petType }"></td>
      <td th:text="${ myPet.petGender }"></td>
      <td th:text="${ myPet.petBirth }"></td>
      <td th:text="${ myPet.petVaccination }"></td>
      <td th:text="${ myPet.petChip }"></td>
    </tr>
</table>

<br>
<button onclick="location.href='/'">메인으로</button>
</body>
</html>