<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eupmyeondong All</title>
</head>
<body>

    <table class="table table-striped">
        <tr>
            <th>EupmyeondongCode</th>
            <th>EupmyeondongName</th>
            <th>sigunguCode</th>
        </tr>
        <tr th:each="eupmyeondong : ${ eupmyeondongList }">
            <td th:text="${ eupmyeondong.eupmyeondongCode }"></td>
            <td th:text="${ eupmyeondong.eupmyeondongName}"></td>
            <td th:text="${ eupmyeondong.sigunguCode }"></td>
        </tr>
    </table>

    <button onclick="location.href='/'">Main</button>

</body>
</html>