<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="animal.team.animalhospital.hospital.model.dao.FavoriteMapper">

    <resultMap id="favoriteResultMap" type="animal.team.animalhospital.hospital.model.dto.FavoriteDTO">
        <id property="personCode" column="person_code"/>
        <result property="favoriteName" column="favorite_name"/>
    </resultMap>

    <insert id="favoriteInsert" parameterType="map">
        INSERT INTO
            tbl_favorite (person_code, favorite_name, favorite_permit_number)
        VALUES
        (
            (
            select
            person_code
            from
            tbl_person
            where
            person_email = #{ userEmail }
            ) ,
            (
            select
            hospital_name
            from
            tbl_hospital
            where
            hospital_code = #{ hospitalCode }
            and hospital_permit_number = #{ permitNumber }
            ) ,
            #{ permitNumber }
        );
    </insert>

    <select id="findAllFavorite" resultMap="favoriteResultMap">
        SELECT
            person_code,
            favorite_name
        FROM
            tbl_favorite
    </select>
    <select id="favoriteCount" resultType="java.lang.Integer">
        select
            count(person_code)
        from
            tbl_favorite
        where
            person_code = (select
                                person_code
                            from
                                tbl_person
                            where
                                person_email = #{ userEmail });
    </select>

    <select id="favoriteExist" resultType="java.lang.Boolean">
        SELECT
            count(*)
        from
            tbl_favorite
        where
            person_code = (
                        select
                            person_code
                        from
                            tbl_person
                        where
                            person_email = #{ userEmail })
        and
            favorite_name = (
                        select
                            hospital_name
                        from
                            tbl_hospital
                        where
                            hospital_code = #{ hospitalCode }
                            and hospital_permit_number = #{ permitNumber })
        and
            favorite_permit_number = #{ permitNumber }
    </select>

</mapper>