<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="animal.team.animalhospital.hospital.model.dao.FavoriteMapper">

    <resultMap id="favoriteResultMap" type="animal.team.animalhospital.hospital.model.dto.FavoriteDTO">
        <id property="personCode" column="person_code"/>
        <result property="favoriteName" column="favorite_name"/>
    </resultMap>

    <insert id="favoriteInsert" parameterType="map">
        INSERT INTO
        tbl_favorite (person_code, hospital_code, favorite_name)
        VALUES
        (
            (
            select
            person_code
            from
            tbl_person
            where
            person_email = #{ userEmail }
            ) ,
            #{ hospitalCode },
            (
            select
            hospital_name
            from
            tbl_hospital
            where
            hospital_code = #{ hospitalCode }
            )
        );
    </insert>

    <select id="findAllFavorite" resultMap="favoriteResultMap">
        SELECT
            person_code,
            hospital_code,
            favorite_name
        FROM
            tbl_favorite
    </select>

</mapper>