<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="animal.team.animalhospital.hospital.model.dao.HospitalMapper">
    <resultMap id="eupmyeondongMap" type="animal.team.animalhospital.hospital.model.dto.EupmyeondongDTO">
        <id property="eupmyeondongCode" column="eupmyeondong_code"/>
        <result property="eupmyeondongName" column="eupmyeondong_name"/>
        <result property="sigunguCode" column="sigungu_code"/>
    </resultMap>

    <resultMap id="hospitalMap" type="animal.team.animalhospital.hospital.model.dto.HospitalDTO">
        <id property="hospitalCode" column="hospital_code"/>
        <result property="subjectCode" column="subject_code"/>
        <result property="eupmyeondongCode" column="eupmyeondong_code"/>
        <result property="name" column="hospital_name"/>
<!--        <result property="username" column="hospital_name"/>-->
        <result property="permitNumber" column="hospital_permit_number"/>
        <result property="email" column="hospital_email"/>
        <result property="password" column="hospital_password"/>
        <result property="informationCollection" column="hospital_information_collection"/>
        <result property="startTime" column="hospital_start_time"/>
        <result property="endTime" column="hospital_end_time"/>
        <result property="lunchStartTime" column="hospital_lunch_start_time"/>
        <result property="lunchEndTime" column="hospital_lunch_end_time"/>
        <result property="detailAddress" column="hospital_detail_address"/>
        <result property="introText" column="hospital_intro_text"/>
        <result property="phoneNumber" column="hospital_phone_number"/>
        <result property="photo" column="hospital_photo"/>
        <result property="status" column="hospital_status"/>
    </resultMap>

    <resultMap id="mainSubjectMap" type="animal.team.animalhospital.hospital.model.dto.MainSubjectDTO">
        <id property="subjectCode" column="subject_code"/>
        <result property="personCode" column="person_code"/>
        <result property="name" column="subject_name"/>
    </resultMap>

    <resultMap id="sidoMap" type="animal.team.animalhospital.hospital.model.dto.SidoDTO">
        <id property="sidoCode" column="sido_code"/>
        <result property="name" column="sido_name"/>
    </resultMap>

    <resultMap id="sigunguMap" type="animal.team.animalhospital.hospital.model.dto.SigunguDTO">
        <id property="sigunguCode" column="sigungu_code"/>
        <result property="sidoCode" column="sido_code"/>
        <result property="name" column="sigungu_name"/>
    </resultMap>

    <select id="findAllEupmyeondong" resultMap="eupmyeondongMap">
        select
            *
        from
            tbl_eupmyeondong
        where
            sigungu_code = #{sogunguCode};

    </select>

    <select id="findAllHospital" resultMap="hospitalMap">
        select
            *
        from
            tbl_hospital
        where
            hospital_status = 'Y';
    </select>

    <select id="getHospitalsByEupmyeondong" resultMap="hospitalMap">
        select
        *
        from
        tbl_hospital
        where
        eupmyeondong_code = #{eupmyeondongCode}
    </select>


    <select id="findByHospitalCode" resultMap="hospitalMap">
        select
        *
        from
        tbl_hospital
        where
        hospital_code = #{hospitalCode};
    </select>

    <select id="findAllMainSubject" resultMap="mainSubjectMap">
        select
        *
        from
        tbl_main_subject;
    </select>

    <select id="findAllSido" resultMap="sidoMap">
        select
        *
        from
        tbl_sido;
    </select>

    <select id="findAllSigungu" resultMap="sigunguMap">
        select
        *
        from
        tbl_sigungu
        where
        sido_code = #{sidoCode};
    </select>

    <select id="findByHospitalName" resultMap="hospitalMap">
        select
            *
        from
            tbl_hospital
        where
            hospital_email = #{ hospitalEmail };
    </select>

    <select id="hospitalFindEmail" resultMap="hospitalMap">
        select
            hospital_email
        from
            tbl_hospital
        where
            hospital_name = #{ name }
            and hospital_phone_number = #{ phoneNumber };
    </select>

    <select id="findByHospitalEmail" resultType="String">
        select
            hospital_email
        from
            tbl_hospital
        where
            hospital_email = #{ email };
    </select>

    <insert id="hospitalSignup" parameterType="animal.team.animalhospital.hospital.model.dto.HospitalDTO">
        INSERT INTO
            tbl_hospital
            (
                hospital_code,
                subject_code,
                eupmyeondong_code,
                hospital_name,
                hospital_permit_number,
                hospital_email,
                hospital_password,
                hospital_information_collection,
                hospital_start_time,
                hospital_end_time,
                hospital_lunch_start_time,
                hospital_lunch_end_time,
                hospital_detail_address,
                hospital_intro_text,
                hospital_phone_number,
                hospital_photo,
                hospital_status
            )
            values
            (
                null,
                #{ subjectCode },
                #{ eupmyeondongCode },
                #{ name },
                #{ permitNumber },
                #{ email },
                #{ password },
                #{ informationCollection },
                #{ startTime },
                #{ endTime },
                #{ lunchStartTime },
                #{ lunchEndTime },
                #{ detailAddress },
                #{ introText },
                #{ phoneNumber },
                #{ photo },
                'Y'
            )
    </insert>

    <update id="updateHospital" parameterType="animal.team.animalhospital.hospital.model.dto.HospitalDTO">
        UPDATE
            tbl_hospital
        SET
            subject_code = #{subjectCode},
            hospital_name = #{name},
            hospital_start_time = #{startTime},
            hospital_end_time = #{endTime},
            hospital_lunch_start_time = #{lunchStartTime},
            hospital_lunch_end_time = #{lunchEndTime},
            hospital_detail_address = #{detailAddress},
            hospital_intro_text = #{introText},
            hospital_phone_number = #{phoneNumber},
            hospital_photo = #{photo}
        WHERE
            hospital_code = #{hospitalCode}
    </update>

    <update id="updatePasswordHospital" parameterType="animal.team.animalhospital.hospital.model.dto.HospitalDTO">
        update
            tbl_hospital
        set
            hospital_password = #{ password }
        where
            hospital_email = #{ email };
    </update>

    <update id="deleteHospital" parameterType="animal.team.animalhospital.hospital.model.dto.HospitalDTO">
        UPDATE
            tbl_hospital
        SET
            hospital_status = 'N'
        WHERE
            hospital_code = #{ hospitalCode }
    </update>

</mapper>