<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="animal.team.animalhospital.hospital.model.dao.MyPageMapper">

    <resultMap id="personMap" type="animal.team.animalhospital.hospital.model.dto.PersonDTO">
        <id property="personCode" column="person_code"/>
        <result property="name" column="person_name"/>
        <result property="email" column="person_email"/>
        <result property="password" column="person_password"/>
        <result property="birth" column="person_phone_birth"/>
        <result property="phoneNumber" column="person_phone_number"/>
        <result property="informationCollection" column="person_information_collection"/>
    </resultMap>

    <resultMap id="favoriteMap" type="animal.team.animalhospital.hospital.model.dto.FavoriteDTO">
        <id property="personCode" column="person_code"/>
        <result property="favoriteName" column="favorite_name"/>
    </resultMap>

    <resultMap id="petMap" type="animal.team.animalhospital.hospital.model.dto.PetDTO">
        <id property="petPersonCode" column="pet_person_code"/>
        <result property="personCode" column="person_code"/>
        <result property="petName" column="pet_name"/>
        <result property="petType" column="pet_type"/>
        <result property="petBirth" column="pet_birth"/>
        <result property="petVaccination" column="pet_vaccination"/>
        <result property="petChip" column="pet_chip"/>
        <result property="petProfile" column="pet_profile"/>
        <result property="petGender" column="pet_gender"/>
    </resultMap>

    <resultMap id="reserveMap" type="animal.team.animalhospital.hospital.model.dto.ReserveDTO">
        <id property="personCode" column="person_code"/>
        <result property="hospitalCode" column="hospital_code"/>
        <result property="petPersonCode" column="pet_person_code"/>
        <result property="reserveTime" column="reserve_time"/>
        <result property="reserveDate" column="reserve_date"/>
        <result property="reserveText" column="reserve_text"/>
        <result property="reserveInformationCollection" column="reserve_information_collection"/>
        <result property="reserveStatus" column="reserve_status"/>
    </resultMap>

    <resultMap id="hospitalMap" type="animal.team.animalhospital.hospital.model.dto.HospitalDTO">
        <id property="hospitalCode" column="hospital_code"/>
        <result property="subjectCode" column="subject_code"/>
        <result property="eupmyeondongCode" column="eupmyeondong_code"/>
        <result property="name" column="hospital_name"/>
        <result property="permitNumber" column="hospital_permit_number"/>
        <result property="email" column="hospital_email"/>
        <result property="password" column="hospital_password"/>
        <result property="informationCollection" column="hospital_information_collection"/>
        <result property="startTime" column="hospital_start_time"/>
        <result property="endTime" column="hospital_end_time"/>
        <result property="lunchStartTime" column="hospital_lunch_start_time"/>
        <result property="lunchEndTime" column="hospital_lunch_end_time"/>
        <result property="detailAddress" column="detail_address"/>
        <result property="introText" column="intro_text"/>
        <result property="phoneNumber" column="hospital_phone_number"/>
        <result property="photo" column="hospital_photo"/>
    </resultMap>

    <insert id="insertMyPetAlone" parameterType="string">
        INSERT INTO
            tbl_pet
            (
                pet_person_code,
                person_code,
                pet_name,
                pet_type,
                pet_birth,
                pet_vaccination,
                pet_chip,
                pet_profile,
                pet_gender
            )
        VALUES
            (null,
            (SELECT
                person_code
            FROM
                tbl_person
            where
                person_email = #{ userEmail }) ,
            '동물이름' ,
            '반려동물종' ,
            '000000',
            'Y',
            '000000',
            'photo',
            '남');
    </insert>
    <!--    <insert id="insertMyPet"></insert>-->

    <select id="findMyInfo" resultMap="personMap">
        SELECT
            person_code,
            person_name,
            person_email,
            person_phone_number
        FROM
            tbl_person
        where
            person_email = #{ userEmail };
    </select>

    <select id="selectMyInfoByEmail" resultMap="personMap">
        SELECT *
        FROM
            tbl_person
        WHERE
            person_email = #{ userEmail };
    </select>

    <update id="updateMyInfo" parameterType="animal.team.animalhospital.hospital.model.dto.PersonDTO">
        UPDATE
            tbl_person
        SET
            person_code = #{personCode},
            person_name = #{name},
            person_phone_number = #{phoneNumber}
        WHERE
            person_code = #{personCode}
    </update>

    <update id="updateMyPet" parameterType="animal.team.animalhospital.hospital.model.dto.PetDTO">
        UPDATE
            tbl_pet
        SET
            pet_name = #{ petName },
            pet_type = #{ petType },
            pet_birth = #{ petBirth },
            pet_vaccination = #{ petVaccination },
            pet_chip = #{ petChip },
            pet_profile = #{ petProfile },
            pet_gender = #{ petGender }
        WHERE
            person_code = #{ personCode }
            and pet_person_code = #{ petPersonCode };
    </update>


    <select id="findMyFavorite" resultMap="favoriteMap">
        SELECT
            b.favorite_name
        FROM
            tbl_person a
        Join tbl_favorite b ON a.person_code = b.person_code
        where
            a.person_email = #{ userEmail };
    </select>

    <delete id="deleteFavorite" parameterType="String">
        DELETE
        FROM
            tbl_favorite
        WHERE
            favorite_name = #{name}
    </delete>

    <select id="findMyReserve" resultMap="reserveMap">
        SELECT
            c.hospital_name,
            b.reserve_date,
            b.reserve_time,
            b.reserve_status
        FROM
            tbl_hospital c
        JOIN
            tbl_reserve b ON c.hospital_code = b.hospital_code
        JOIN
            tbl_person a ON a.person_code = b.person_code
        WHERE
            a.person_email = #{ userEmail }
<!--        and b.reserve_status = 'Y';-->
    </select>

    <select id="findProtector" resultMap="personMap">
        SELECT
            *
        FROM
            tbl_person c
        JOIN
            tbl_reserve b ON c.person_code = b.person_code
        JOIN
            tbl_hospital a ON a.hospital_code = b.hospital_code
        WHERE
            a.hospital_email = #{ userEmail }
    </select>

    <select id="findMyHospital" resultMap="hospitalMap">
        SELECT
            c.hospital_code,
            c.subject_code,
            c.hospital_name,
            b.reserve_date,
            b.reserve_time
        FROM
            tbl_hospital c
        JOIN
            tbl_reserve b ON c.hospital_code = b.hospital_code
        JOIN
            tbl_person a ON a.person_code = b.person_code
        WHERE
            a.person_email = #{ userEmail }
    </select>

    <select id="findMyPet" resultMap="petMap">
        SELECT
            a.pet_profile,
            a.person_code,
            a.pet_name,
            a.pet_type,
            a.pet_gender,
            a.pet_birth,
            a.pet_vaccination,
            a.pet_chip
        FROM
         tbl_pet a
        Join tbl_person b ON a.person_code = b.person_code
        WHERE
            b.person_email = #{ userEmail };
    </select>
    <select id="findMyPetAlone" resultMap="petMap">
        SELECT *
        FROM tbl_pet
        WHERE
        person_code = (SELECT
                            tbl_person.person_code
                        from
                            tbl_person
                        WHERE
                            person_email = #{ userEmail } );
    </select>

    <select id="findHospitalInfo" resultMap="hospitalMap">
        SELECT
            *
        FROM
            tbl_hospital
        where
            hospital_email = #{ userEmail };
    </select>

    <select id="findHospitalReserve" resultMap="reserveMap">
        SELECT
            *
        from
            tbl_reserve b
        join tbl_person a on b.person_code = a.person_code
        join tbl_hospital c on b.hospital_code = c.hospital_code
        where
            hospital_email = #{ userEmail };
    </select>

</mapper>