<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="animal.team.animalhospital.hospital.model.dao.ReserveMapper">
    
    <resultMap id="reserveResultMap" type="animal.team.animalhospital.hospital.model.dto.ReserveDTO">
        <id property="personCode" column="person_code"/>
        <result property="hospitalCode" column="hospital_code"/>
        <result property="petPersonCode" column="pet_person_code"/>
        <result property="reserveTime" column="reserve_time"/>
        <result property="reserveDate" column="reserve_date"/>
        <result property="reserveText" column="reserve_text"/>
        <result property="reserveInformationCollection" column="reserve_information_collection"/>
    </resultMap>


    <select id="findAllReserve" resultMap="reserveResultMap">
        SELECT
            person_code,
            hospital_code,
            pet_person_code,
            reserve_time,
            reserve_date,
            reserve_text,
            reserve_information_collection
        FROM
            tbl_reserve;
    </select>

    <select id="findReserveByCode" parameterType="int" resultMap="reserveResultMap">
        SELECT
            person_code,
            hospital_code,
            pet_person_code,
            reserve_time,
            reserve_date,
            reserve_text,
            reserve_information_collection
        FROM
            tbl_reserve
        WHERE
            person_code = #{personCode}
        LIMIT 1
    </select>

    <select id="findReserveByCode1" parameterType="map" resultMap="reserveResultMap">
        SELECT
            person_code,
            hospital_code,
            pet_person_code,
            reserve_time,
            reserve_date,
            reserve_text,
            reserve_information_collection
        FROM
            tbl_reserve
        WHERE
            person_code = #{personCode}
            and hospital_code = #{hospitalCode}
        LIMIT 1;
    </select>


    <insert id="registNewReserve" parameterType="animal.team.animalhospital.hospital.model.dto.ReserveDTO"
            useGeneratedKeys="true" keyProperty="personCode">

        INSERT INTO tbl_reserve
            (
            person_code,
            hospital_code,
            pet_person_code,
            reserve_time,
            reserve_date,
            reserve_text,
            reserve_information_collection
            )
        VALUES
            (
            #{personCode},
            #{hospitalCode},
            #{petPersonCode},
            #{reserveTime},
            #{reserveDate},
            #{reserveText},
            #{reserveInformationCollection}
            )
    </insert>

    <delete id="deleteReserve1" parameterType="int">
        DELETE
        FROM
            tbl_reserve
        WHERE
            person_code = #{personCode}
        and hospital_code = #{hospitalCode}
    </delete>


<!--    <update id="updateReserve" parameterType="animal.team.animalhospital.hospital.model.dto.ReserveDTO">-->
<!--        UPDATE tbl_reserve-->
<!--        SET-->
<!--            reserve_time = #{reserveTime},-->
<!--            reserve_date = #{reserveDate},-->
<!--            reserve_text = #{reserveText},-->
<!--            reserve_information_collection = #{reserveInformationCollection}-->
<!--        WHERE-->
<!--            person_code = #{personCode}-->
<!--    </update>-->

    <update id="updateReserve1" parameterType="animal.team.animalhospital.hospital.model.dto.ReserveDTO">
        UPDATE tbl_reserve
        SET
            reserve_time = #{reserveTime},
            reserve_date = #{reserveDate},
            reserve_text = #{reserveText},
            reserve_information_collection = #{reserveInformationCollection}
        WHERE
        person_code = #{personCode}
        and hospital_code = #{hospitalCode}
    </update>



</mapper>

