<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table>
        <tr>
            <th>개인번호</th>
            <th>병원번호</th>
            <th>리뷰작성일자</th>
            <th>리뷰수정일자</th>
            <th>리뷰점수</th>
            <th>리뷰사진</th>
            <th>리뷰내용</th>
        </tr>
        <tr th:each="review : ${ reviewList }">
            <td><a th:href="@{/review/detail/{code}(code=${ review.personCode })}" th:text="${review.personCode}"></a></td>
            <td th:text="${ review.hospitalCode }"></td>
            <td th:text="${ review.reviewWriteDate }"></td>
            <td th:text="${ review.reviewModifyDate }"></td>
            <td th:text="${ review.reviewScore }"></td>
            <td th:text="${ review.reviewPhoto }"></td>
            <td th:text="${ review.reviewExplanation }"></td>

        </tr>
    </table>
    <br>
    <button onclick="location.href='/'">메인으로</button>
</body>
</html>