<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h3>리뷰 등록</h3>
        <form action="/review/regist" method="post">
            파일: <input type="file" name="singleFile"><br>


        <label>리뷰점수: </label>
        <select name="reviewScore">
            <option value="5"selected>5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="2">1</option>
        </select>
        <br>
        리뷰내용:
        <br>
        <textarea name="reviewExplanation" id="contents" cols="30" rows="10"
                      style="resize:none" maxlength="100">abc</textarea>

        <button type="submit">전송</button>

        </form>

</body>
</html>