<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>reset Hospital Password</title>
</head>
<body>
    <form action="/user/updatePasswordHospital" method="POST">
        <input type="hidden" name="email" th:value="${email}">  <!-- 이메일 값을 hidden 필드로 전달 -->
        <input type="password" name="newPassword" placeholder="Enter new password" required>
        <input type="password" name="confirmPassword" placeholder="Confirm new password" required>
        <button type="submit">변경하기</button>
    </form>
</body>
</html>