<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입(개인)</title>
</head>
<body>

    <h1>회원가입(개인) 페이지</h1>

    <form th:action="@{ /user/signupPerson }" method="post">
        이메일 : <input type="text" name="email"/><br>
        비밀번호 : <input type="password" name="password"/><br>

        보호자 이름 : <input type="text" name="name"/><br>

        생년월일 : <input type="date" name="birth"/><br>

        전화번호 : <input type="text" name="phoneNumber"/><br>

        <label for="option">개인정보 수집에 동의하십니까?</label>
        <input type="checkbox" id="option" name="informationCollection">
        <br>
        <button>회원가입</button>
    </form>

</body>
</html>