.header {
    position: absolute; /* 화면 상단에 고정 */
    top: 0; /* 페이지의 최상단에 위치 */
    left: 0;
    width: 100%; /* 화면의 전체 너비로 설정 */
    display: flex;
    justify-content: space-between; /* 왼쪽과 오른쪽을 나눔 */
    align-items: center; /* 수직 중앙 정렬 */
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* 로고 영역 */
.logo {
    width: auto;
    height: 50px;
}

.logo:hover {
    cursor: pointer;
}

/* 오른쪽 버튼 영역 */
.user-controls {
    display: flex;
}

.user-controls button {
    padding: 10px 15px;
    font-size: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-controls button:hover {
    background-color: #0056b3;
}

.logo-div {
    margin-left: 20px;
}

.headerBtn {
    color: white;
    background: #58ccff;
    font-size: large;
    padding: 5px;
    border: solid white;
    border-radius: 10px;
}
