<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h3>공지사항 신규등록</h3>
    <form action="/notice/insert" method="post">
        <label>제목: </label><input type="text" name="name"><br>
        <label>작성날짜: </label><input type="date" name="date"><br>
        <label>조회수: </label><input type="number" name="views"><br>
        <label>내용: </label><input type="text" name="text"><br>
        <input type="submit" value="등록">
    </form>
</body>
</html>